
entregable/CMakeLists.txt
entregable/cmake-build-debug/test-2.cbp
entregable/cmake-build-debug/test-2
entregable/cmake-build-debug/Makefile
entregable/cmake-build-debug/CMakeFiles/test-2.dir/progress.make
entregable/cmake-build-debug/
.idea/
.DS_STORE
